PORT=4000
MONGO_URI=mongodb://localhost:27017/evo-bypass
CLIENT_ORIGIN=http://localhost:3000
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=1503006516620427304
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_REDIRECT_URI=
DISCORD_PERMISSIONS=8
